
.scroll {
    display: flex;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}

.scroll div .inner_div {
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    animation-delay: calc(10s*-1);

}

.scroll div .inner_div:nth-child(n){
    animation: scroll2 10s linear infinite;
    animation-delay: calc(10s/-2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}
